.dl-main { 
	min-height: 100vh;
	padding: 20px 0px 50px 0px;
}

.dl-bg-linear-gradient {
	background: linear-gradient(45deg, #3c3c3c 50%, #efefef 50%);
}

.dl-theme-title {
	font-family: "BBH Bogle", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 45px;
}

.dl-theme-slogan {
	font-family: "Pacifico", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
}

.dl-footer-container {
	padding: 20px 60px;
	display: flex;
	align-items: center;
}

.dl-color-brand-a {
	color: #cecece;
	font-weight: 600;
}

.dl-color-brand-b {
	color: #8f8f8f;
	font-weight: 600;
}

.dl-content-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 60px;
}

.dl-start-section {
	width: 50%;
}

.dl-end-section {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
}

.dl-no-margin {
	margin: 0;
}

.footer-text {
	font-weight: 200;
	font-style: normal;
	font-size: 16px;
	p {
		margin: 0px;
	}
	a {
		text-decoration: none;
		color: #8f8f8f;
		font-weight: 200;
	}
}

@media (max-width: 800px) {
	.dl-content-wrapper {
		flex-direction: column;
		padding: 40px;
	}
	.dl-end-section, .dl-start-section {
		width: 100%;
	}
	.dl-main {
		background: #3c3c3c;
	}
}