.dl-main-container {
	background-color: #282c34;
	min-height: 100vh;
}

.dl-content-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 60px;
}

.dl-start-container {
	flex: 1;
	color: #dcdcdc;
	width: 50%;
}

.dl-end-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
}

@media (max-width: 800px) {
	.dl-main-container {
		flex-direction: column;
		padding: 50px;
	}
	.dl-end-container, .dl-start-container {
		width: 100%;
	}
}